* {
    margin: 0px;
    padding: 0px
}
.wrapper {
    height: 80vh;
   
    display: flex;
    justify-content: center; 
    align-items: center;
}
#parent {
    width: 400px;
    height: 400px;

    position: relative;

    background-image: url(./assets/map.jpg);
}
#child {
    position: relative; 
}  

#debug {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}