* {
    margin: 0px;
    padding: 0px
}
.wrapper {
    height: 100vh;
   
    display: flex;
    justify-content: center; 
    align-items: center;
}
#parent {
    width: 400px;
    height: 400px;

    position: relative;

    background-image: url(./assets/map.jpg);
}
#child {
    position: relative;    
}  
#child img {
    width: 50px;
}