html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  


#color-point {
    text-align: center;
    padding: 2em;
    padding-top: 0px;
    position: absolute;
    padding-top: 15px;
    height: 910px;
    width: 910px;
}
