body{
  height: 100vh;
  background-color: rgb(27, 27, 31);
}
#toucharea{
  width: 100vw;
  height: 100vh;
}

#dragObj1{
  background-color: rgb(148, 164, 228);
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  border: solid;
  border-width: 5px;
  border-color: rgb(27, 27, 50);
  visibility: visible;
}

#container{
  background-color: rgb(34, 39, 61);
  width: 300px;
  height: 300px;
  border-radius: 5%;
  text-align: center;
  border-color: rgb(24, 27, 43);
  float: right;
  margin-right: 10%;

}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 164, 228);
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 164, 228);
}
