* { 
    background-color: white;        /* background color */
    margin: 0;                        /* reset default margin and padding */
    padding: 0;
}
body {
    display: flex;               /* enable responsive resize of window */
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;    /* orient the slider into the center of the screen */
    align-items: center;
    height: 100vh;

    /* Optional bg */
    /*background-image: url(https://i.pinimg.com/originals/53/8b/83/538b830f3fab4f1e048fcf043ee1db70.jpg);
    */
}

 /* Slider body */  
.container {
    display: inline-flex;       /* center arrow in the slider */
    align-items: center;

    width: 25em;        /* set dimensions for the arrow */
    height: 6em;

    background-color: #EBEBEB   /* background color of the slider */
    ;
    border-radius: 1.2em;        /* round the edges */

    transition: all 1s;     /* add smooth animation */

    opacity: 0;          /* make slier invisible, main js then fades it in */
}

 /* "Slide to unlock" */ 
.container h1 {           
    background: none;                /* remove text background */
    color: rgb(142, 142, 142);       /* text color */    

    font-family: sans-serif;    /* font, weight and size */
    font-weight: 200;
    font-size: 30px;

    margin-left: auto;      /* position text in center, override flex */
    margin-right: auto;
    z-index: 0;             /* put the text behind the arrow */
}

/* Slider element */
#arrow {
    position: absolute;     /* Make sure the slider elements position is absolute */
    z-index: 1;             /* Put the element over the text */

    width: 5em;             /* Set dimension of the element */
    height: 5em;

    margin-left: 7px;       /* Set initial slider element position */     

    background-color: #2F2F2F;  /* Background color of slider element */     

    border-radius: 0.75em;     /* Round the edges of the slider arrow */     

    transition: all 1s;      /* add smooth animation */
}

.outside {
    width: 400px;
    height: 100px;
    background-color: black;
}